#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.myMain {
  flex-grow: 1;
}
.bgGreen {
  background-color: #003c25;
}
.banner {
  object-fit: cover;
  height: 395px;
  width: 100%;
}
.img-thumbnail{
  width: 200px;
  height: 200px;
  object-fit: cover;
}